
.icon-glass:before { content: '\e800'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-blind:before { content: '\f29d'; } /* '' */